<div class="container text-lg-left bg-white rounded shadow mt-5 container-about p-4" ng-controller="myCtrl">
    <div class="row">
        <div class="col-12">
            <h2 class="font-weight-bold mb-3">Giới thiệu</h2>
            <p class="lead py-3" style="font-size: 24px; font-weight: 400; font-family: 'Times New Roman', Times, serif;">
                Hiện nay, phương án thi trắc nghiệm đã được triển khai rộng rãi trong giáo dục theo chỉ đạo của Bộ giáo dục và đào tạo. Được bộ giáo dục xem đây là phương pháp thi hiện đại, đánh giá được tổng quát toàn bộ kiến thức của người học. Song, việc ứng
                dụng CNTT trong việc ra đề thi của giáo viên và làm bài của học sinh chưa thực sự được chú trọng.
            </p>
            <a class="blue-text fw-bold fs-5 text-uppercase"  href="#">Learn more 
          <i class="fa fa-chevron-right pl-1"></i>
        </a>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
            <div class=" mt-3 text-center">
                <i class="fab fa-android fa-3x indigo-text mb-4"></i>
                <h4 class="font-weight-bold">Lập trình Android</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
            <div class=" mt-3 text-center">
                <i class="fas fa-database fa-3x pink-text mb-4"></i>
                <h4 class="font-weight-bold">Cơ sở dữ liệu</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
            <div class=" mt-3 text-center">
                <i class="fa fa-globe-africa fa-3x amber-text mb-4"></i>
                <h4 class="font-weight-bold">Lập trình Web</h4>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
            <div class=" mt-3 text-center">
                <i class="fab fa-centos fa-3x green-text mb-4"></i>
                <h4 class="font-weight-bold">Thiết kế đồ họa</h4>
            </div>
        </div>
    </div>
</div>