<div class="row">
    <div class="col-2"></div>
    <section class="px-5 py-4 wrap-form-head-register container-about mt-3 col-8">
        <h2 class="h1-responsive fw-blod text-center">Trang thi trắc nghiệm</h2>
        <div class="row">
            <div class="col-6">
                <img src="https://img.icons8.com/office/80/000000/time.png" />
                Thời gian
            </div>
            <div class="col-6">
                <h3 class="float-end">Điểm</h3>
            </div>

        </div>
        <hr class="mt-3 mb-3">
        <div class="row">
            <h4>Thời gian làm bài</h4>
            <div class="card">
                <div class="body">
                    <div class="row">
                        <h2 class="text-center mt-3">Bài Thi: Lập trình nâng cao</h2>
                    </div>
                    <hr class="mt-3 mb-3">
                    <div class="row">
                        <div class="col-4">
                            <img src="images/logos/ADAV.jpg" alt="">
                        </div>
                        <div class="col-8">
                            <h4>Câu hỏi</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <button class="btn btn-primary float-end">Trả lời</button>
            </div>
        </div>

        <div class="row">
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="row">
            <div class="col-12">
                <button class="btn btn-danger float-start">
                    Kết thúc bài kiểm tra
                </button>
            </div>
        </div>
    </section>
    <div class="col-2"></div>
</div>