<style>
    body {
        background-image: url(images/imagePic/BG7.gif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .nav-item a {
        font-size: 17px;
        border-bottom: 3px solid transparent;
    }

    .nav-item a:hover {
        border-bottom: 3px solid red;
    }

    html {
        scroll-behavior: smooth;
    }

    @media only screen and (min-width: 992px) {
        .btn-header{
            display: none;
        }

    }
</style>




<header ng-controller="myCtrl">
    <div class="row mt-2 align-items-center">
        <div class="col-xxl-3 col-3">
            <a href="#!index">
                <img class="img-responsive img-fluid ms-4 img-Icon" width="200" src="images/logos/LogoNew.png" alt="">
            </a>
        </div>
        <div class="col-xxl-6 col-6 col-lg-6 ">
            <nav class="navbar navbar-expand-lg navbar-dark ">
                <div class="mx-auto d-block">
                    <div class="container-fluid">
                        <div class="mx-auto d-block ">
                            <div class="btn-header">
                                <button class="navbar-toggler mx-auto d-block" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon btn-header"></span>
                                </button>
                            </div>
                        </div>
                        <div class="mx-auto d-block">
                            <div class="collapse navbar-collapse " id="navbarNavDropdown">
                                <ul class="navbar-nav text-center fw-bold">
                                    <li class="nav-item ">
                                        <a class="nav-link text-white" aria-current="page" href="#">Learning</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#!about">About Page</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#!Contact">Contact Page</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#!Feedback_Home">Feedback Page</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#!FAQ">FAQ Page</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" href="#!ListTest">Exam Page</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link text-white dropdown-toggle" href="#"
                                            id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            List Exam
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <li ng-repeat="sub in subjects">
                                                <a class="dropdown-item" href="#">
                                                    <img src="{{'images/logos/'+sub.Logo}}"
                                                        class="img-fluid rounded-circle hoverable" style="height: 20px;"
                                                        alt="">
                                                    {{sub.Name}}
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-lg-3 col-md-3 col-xxl-3">

            <div class="row">
                <!-- Example single danger button -->
                <div class="btn-group">
                    <button type="button" class="btn text-white dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#!Profile">Profile</a></li>
                        <li><a class="dropdown-item" href="#!ChangePassword">Change Password</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Log out</a></li>
                    </ul>
                </div>

                <butLton class="btn text-light fw-bold ms-0" type="button" data-bs-target="#myModal"
                    data-bs-toggle="modal">
                    Login
                </butLton>

                <div class="modal " id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header alert alert-info">
                                <h3 class="modal-title text-center">Login now</h3>
                                <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <button class="btn btn-info col-3">
                                            <img src="https://img.icons8.com/color/48/000000/facebook-new.png" />
                                            facebook</button>
                                        <button class="btn btn-primary col-3 ms-2 me-2">
                                            <img src="https://img.icons8.com/color/48/000000/microsoft.png" />
                                            microsoft</button>
                                        <button class="btn btn-danger col-3">
                                            <img src="https://img.icons8.com/color/48/000000/google-logo.png" />
                                            google</button>
                                    </div>
                                    <h6 class="text-center mt-3 fw-normal">OR</h6>
                                    <div class="mt-3 ">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Username"
                                                aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="mt-3 ">
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa fa-key" aria-hidden="true"></i>
                                            </span>
                                            <input type="password" class="form-control" placeholder="Password"
                                                aria-label="Username" aria-describedby="basic-addon1">
                                        </div>
                                    </div>

                                    <div class="row mt-4 mb-4">
                                        <div class="col-lg-12 d-flex justify-content-center">
                                            <button class="btn btn-primary justify-content-center col-12">
                                                Login
                                            </button>


                                        </div>
                                        <div class="col-md-12 registered-forgot" role="tablist">
                                            <div class="row mt-3">
                                                <div class="col-md-5 text-left">
                                                </div>
                                                <div class="col-md-7 text-right">
                                                    <a href="#" style="text-decoration: none" data-bs-dismiss="modal"
                                                        data-bs-target="#myModal_2" data-bs-toggle="modal">I
                                                        can't rememeber my password</a>
                                                    <!-- <a type="button" class="btn" data-bs-toggle="modal"
                                                        data-bs-target="#myForgotPassword">
                                                        Launch demo modal
                                                    </a> -->

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer text-center">
                                <div class="col-md-12 terms-of-use">
                                    This site is protected by reCAPTCHA and <a href="/terms" target="_blank">Terms of
                                        Use</a> apply.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal" id="myModal_2">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header alert alert-warning">
                                <h3 class="modal-title text-center">Forgot Password</h3>
                                <button class="btn-close" type="button" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="text-center">
                                        <img src="images/imagePic/update.gif" width="64px"
                                            class="img-circle img-responsive img-fluid " alt="">
                                    </div>
                                    <!-- <p class="text-center">Tài khoản: {{student.fullname}}</p> -->
                                    <div class="ps-5 pe-5 pb-5 ">
                                        <div class="row">
                                            <form name="">
                                                <div class="mt-3 ">
                                                    <div class="input-group">
                                                        <span class="input-group-text" id="basic-addon1">
                                                            <i class="fa fa-user" aria-hidden="true"></i>
                                                        </span>
                                                        <input type="text" class="form-control" placeholder="Username"
                                                            aria-label="Username" aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                                <div class="mt-3 ">
                                                    <div class="input-group">
                                                        <span class="input-group-text" id="basic-addon1">
                                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                                        </span>
                                                        <input type="email" class="form-control" placeholder="Email"
                                                            aria-label="Username" aria-describedby="basic-addon1">
                                                    </div>
                                                </div>

                                                <div class="text-center mt-4">
                                                    <button class="btn btn-primary shadow-lg col-12 mb-2">Send</button>
                                                    <button class="btn btn-danger shadow-lg col-12"
                                                        data-bs-dismiss="modal" data-bs-target="#myModal"
                                                        data-bs-toggle="modal">Back</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer text-center">
                                <div class="col-md-12 terms-of-use">
                                    This site is protected by reCAPTCHA and <a href="/terms" target="_blank">Terms of
                                        Use</a> apply.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button href="#register"
                    class="col-xxl-5 btn btn-sm btn-danger btn-Register mx-auto d-block">Register</button>
            </div>
        </div>
    </div>
</header>