<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-app='myapp'>

    <div class="container" ng-controller='myctrl'>
        <div class="row">
            <div class="col">
                <!-- <form action=""> -->
                <div class="form-group">
                    <label for="">Chieu Dai</label>
                    <input type="text" ng-model='cd' class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Chieu Rong</label>
                    <input type="text" ng-model='cr' class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Chu Vi</label>
                    <label type="text" ng-bind='cv' class="form-control"></label>
                </div>
                <div class="form-group">
                    <label for="">Dien Tich</label>
                    <label type="text" ng-bind='dt' class="form-control"></label>
                </div>

                <div class="form-group">
                    <label for="">Status</label>
                    <label type="text" ng-bind='status' class="form-control"></label>
                </div>
                <div class="form-group">
                    <input type="button" class="btn btn-primary" ng-click="sub()" value="OK">
                </div>

                <!-- </form> -->

            </div>
        </div>
    </div>
    <script>
        angular.module('myapp', []).controller('myctrl', function ($scope) {
            $scope.sub = function () {
                let a = $scope.cd;
                let b = $scope.cr;
                $scope.cv = (a + b) * 2;
                $scope.dt = a * b;
                $scope.cv && $scope.dt > 50 ? $scope.status = "TO QUAS" : $scope.status = "NHO QUA"
            }
        })

    </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>