<div class="container text-lg-left bg-white rounded shadow mt-5 container-about p-4" ng-controller="myCtrl">
    <h6 class="fw-normal mb-4 text-center ">FAQ</h6>
    <h3 class="fw-bold mb-4 text-center pb-2">
        Frequently asked questions
    </h3>

    <div class="row">
        <div class="col-md-12 col-lg-10 mx-auto mb-5">
            <div class="card border-top border-bottom-0 border-left border-right border-light">
                <p>
                    <a class="btn fw-bold text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                        Học trực tuyến là gì ? <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        Có rất nhiều cách hiểu khác nhau về định nghĩa đào tạo online, nhưng cách hiểu cơ bản đó
                        là
                        một phương thức phân phối các tài liệu, nội dung học tập dựa trên các công cụ điện tử
                        hiện
                        đại như: điện thoại, máy tính thông qua mạng internet. Trong đó, nội
                        dung tài liệu học tập có thể được cập nhật từ các website trường học trực tuyến và các
                        ứng
                        dụng di động khác. Đặc điểm vượt trội của đào tạo qua mạng đó chính là tính tương tác
                        cao và
                        đa dạng giữa giảng viên và người học. Theo
                        tính năng đó, giảng viên và người học có thể trao đổi trực tiếp với nhau thông qua các
                        ứng
                        dụng: chat, email, diễn đàn, hội thảo trực tuyến,…
                    </div>
                </div>
            </div>

            <div class="card border-top border-bottom-0 border-left border-right border-light">
                <p>
                    <a class="btn fw-bold text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_1"
                        aria-expanded="false" aria-controls="collapseExample">
                        Học trực tuyến: Nên hay không? <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                </p>
                <div class="collapse" id="collapseExample_1">
                    <div class="card card-body">
                        Thực tế đã nói lên một điều rằng, cho dù công nghê thông tin phát triển, các trang thiết
                        kế web học trực tuyến trở nên phổ biến thì các trường Đại học cũng không thể bị xóa bỏ.
                        Xã hội vẫn cần các phương thức giáo dục truyền thống để giúp các bạn trẻ trưởng
                        thành hơn. Tuy nhiên, xã hội cũng luôn cần các tổ chức thiết kế web dạy trực tuyến hay
                        thiết kế phần mềm dạy học online với những khám phá và nội dung truyền đạt hiệu quả hơn.
                        Các phương tiện trực tuyến như: mạng xã hội, các
                        ứng dụng online ngày càng phát triển chính vì thế, học qua mạng cũng đang là một hiệu
                        quả của thế giới thông tin điện tử toàn cầu. Những trang web học online ra đời giúp cho
                        học viên có thêm sự tìm kiếm thông tin, tài liệu
                        hữu ích.
                    </div>
                </div>
            </div>


            <div class="card border-top border-bottom-0 border-left border-right border-light">
                <p>
                    <a class="btn fw-bold text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_2"
                        aria-expanded="false" aria-controls="collapseExample">
                        Quiz là gì ? <i class="fas fa-angle-down rotate-icon"></i>
                    </a>
                </p>
                <div class="collapse" id="collapseExample_2">
                    <div class="card card-body">
                        Bài Quiz là một dạng bài trắc nghiệm đánh giá, bạn có thể áp dụng để tạo những bài trắc
                        nghiệm tính cách, bài kiểm tra tự đánh giá bản thân hay bài ôn tập cho học viên. Sau khi
                        làm xong các câu hỏi sẽ nhận được ngay lời nhận xét theo từng thang điểm mà
                        người làm đánh giá đạt được.
                    </div>
                </div>
            </div>


            <div class="card border-top border-bottom-0 border-left border-right border-light">
                <p>
                    <a class="btn fw-bold text-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample_3"
                        aria-expanded="false" aria-controls="collapseExample">
                        Phải đạt bao nhiêu điểm trong 1 bài kiểm tra? <i
                            class="fas fa-angle-down rotate-icon"></i>
                    </a>
                </p>
                <div class="collapse" id="collapseExample_3">
                    <div class="card card-body">
                        Khi số câu trả lời của của bạn đúng hơn 50% tổng số câu hỏi.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>