<div class="row" ng-controller = "informationExam">
    <div class="col-2"></div>
    <section class="px-5 py-4 wrap-form-head-register container-about mt-3 col-8">
        <h2 class="h1-responsive fw-blod text-center">{{subject.Name}}</h2>
        <p class="fw-normal text-center w-responsive mx-auto mb-5"></p>

        <div class="row">

            <div class="col-lg-5 mb-lg-0 mb-5">
                <div class="text-center">
                    <img src="images/logos/{{subject.Logo}}" alt="Sample project image" class="img-fluid" style="width: 300px;">
                </div>
            </div>

            <div class="col-lg-7">

                <div class="row mb-3">
                    <div class="col-md-1 col-2">
                        <img src="https://img.icons8.com/color/48/000000/book.png" />
                    </div>
                    <div class="col-md-11 col-10">
                        <h5 class="fw-blod mb-3">Kiến thức</h5>
                        <p class="fw-normal">Thí sinh đảm bảo đã ôn đầy đủ kiến thức trong quá trình học tập</p>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-1 col-2">
                        <img src="https://img.icons8.com/color-glass/48/000000/development-skill.png" />
                    </div>
                    <div class="col-md-11 col-10">
                        <h5 class="fw-blod mb-3">Kỹ năng</h5>
                        <p class="fw-normal">Áp dụng kiến thức vào thức tiển bằng cách trả lời ví dụ theo code mẫu</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 col-2">
                        <img src="https://img.icons8.com/fluency/48/000000/money.png" />
                    </div>
                    <div class="col-md-11 col-10">
                        <h5 class="fw-blod mb-3">Phí học lại</h5>
                        <p class="fw-normal mb-0">Thí sinh sẽ phải đóng tiền học lại môn nếu thi không đủ điểm.</p>
                    </div>
                </div>

            </div>

        </div>

        <hr class="my-5">

        <div class="row">

            <div class="col-lg-7">

                <div class="row mb-3">
                    <div class="col-md-1 col-2">
                        <img src="https://img.icons8.com/color/48/000000/balance-skin-type-1.png" />
                    </div>
                    <div class="col-md-11 col-10">
                        <h5 class="fw-blod mb-3">Công bằng</h5>
                        <p class="fw-normal">Thí sinh đảm báo trung thực trong quá trình thi bằng cách sử dụng kiến thức
                            đã học được.</p>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-1 col-2">
                        <img src="https://img.icons8.com/doodle/48/000000/isaac-newton.png" />
                    </div>
                    <div class="col-md-11 col-10">
                        <h5 class="fw-blod mb-3">Thành tích</h5>
                        <p class="fw-normal">Thành tích trong bài thi sẽ được đánh giá, ghi nhận và khen thưởng.</p>
                    </div>
                </div>

                <div class="row mb-lg-0 mb-5">
                    <div class="col-md-1 col-2">
                        <img src="https://img.icons8.com/color/48/000000/three-leaf-clover.png" />

                    </div>
                    <div class="col-md-11 col-10">
                        <h5 class="fw-blod mb-3">Mẹo</h5>
                        <p class="fw-normal mb-0">Thí sinh nên làm những câu dễ trước không để mất quá nhiều thời gian
                            cho 1 câu khó.</p>
                    </div>
                </div>

            </div>

            <div class="col-lg-5 view overlay">
                <a href ng-click="test()">
                    <img src="images/imagePic/Start.gif" alt="Sample project image" class="img-fluid"
                        style="width: 300px;">
                </a>
            </div>

        </div>

    </section>
    <div class="col-2"></div>
</div>