<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/SP2022/KiemThuNangCao_Intellij/AllLab/Lab02/src/test/java/CalculatorTest.java">
        <classes/>
    </test>
    <test verbose="2" preserve-order="true"
          name="D:/SP2022/KiemThuNangCao_Intellij/AllLab/Lab02/src/test/java/MathFuncTest.java">
        <classes/>
    </test>
    <test verbose="2" preserve-order="true"
          name="D:/SP2022/KiemThuNangCao_Intellij/AllLab/Lab02/src/test/java/RunCalculator.java">
        <classes/>
    </test>
    <test verbose="2" preserve-order="true"
          name="D:/SP2022/KiemThuNangCao_Intellij/AllLab/Lab02/src/test/java/RunMathFunc.java">
        <classes/>
    </test>
</suite>