body {
    padding: 0;
    margin: 0;
    background-color: lightgray;
}


header {
    height: 100px;
    background-color: red;
}


.container > div >*{
    min-height: 500px;
}
 footer {
     height: 50px;
 }